<head>
	<%= favicon_link_tag 'icon.jpg' %>
	<style type="text/css">
		body {
			font-family: Helvetica, sans-serif;
			font-size: 20px;
			color: #4878A7;
			text-align: center;
		}
	</style>
</head>
<title>Kanban Tracker - Projects</title>
<%= image_tag("tracker-logo.png") %>
<h2>Welcome to Kanban!</h2>

<% if @projects.to_a.empty? %>
<h3> Looks like your API key was wrong or you have no projects </h3>
<%= link_to "Re-input your token", action: "delete_token" %>
<% else %>
<h3>Your Token: <%= @token %></h3>
<%= link_to "clear token", action: "delete_token" %>
<ul >
   <% @projects.each do |c| %>
   <%= puts "THE TOKEN ID IS: #{@token}" %>
   <li><%= link_to c["name"], controller: "project_page", action: "home", id: c, token: @token %></li>
   <% end %>
</ul>
<% end %>s