<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><%= current_user.name %>
    <span class="caret"></span></button>
    <ul class="dropdown-menu dropdown-menu-right">
      <p class="drop_item"><%= link_to "Change/Clear Token", controller: 'home', action: "delete_token" %></p>
      <p class="drop_item"><%= link_to "Sign out", signout_path, id: "sign_out" %></p>
    </ul>
  </div>
    <div>
      <% if current_user %>
      <% else %>
        <%= button_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", :method => "get" %>
      <% end %>
    </div>
    <div>
    <%= yield %>
    </div>
  </body>
</html>
